<main id="search-main">
  <section class="collections-section">
      <p class="collections-p"><%= @search_category_instance %></p>
      <div class="search-column">
          <% if @found_products.empty? %>
              <p>No results found for "<%= @search_keyword_instance %>"</p>
          <% else %>
              <% @found_products.each do |product| %>
                  <div class="search-row">
                    <% if product.image.present? %>
                        <div>
                            <figure class="image">
                                <%= image_tag product.image.variant(resize_to_limit: [200,200]) %>
                            </figure>
                        </div>
                    <% end %>
                        <div class="collection-info">
                            <%= link_to product.product_name, product %>
                            <p>CAD $<%= product.resell_price %></p>
                        </div>
                  </div>
              <% end %>
          <% end %>
      </div>
  </section>
</main>
