<h1><%= @product.product_name %></h1>
<p>Product Description: <%= @product.description %></p>
<p>Price: <%= @product.resell_price %></p>
<p>Original Price: <%= @product.retail_price %></p>
<p>Released Date: <%= @product.released_date %></p>
<p>Codition: <%= @product.is_used %></p>
<p>Color: <%= @product.color %></p>

<p>Available Sizes</p>
<ul>
  <% @sizes.each do |size| %>
    <li><%= size.available_size %></li>
  <% end %>
</ul>