<h1><%= @product.product_name %></h1>
<p>Product Description: <%= @product.description %></p>
<p>Price: <%= @product.resell_price %></p>
<p>Original Price: <%= @product.retail_price %></p>
<p>Released Date: <%= @product.released_date %></p>
<p>Codition: <%= @product.is_used %></p>
<p>Color: <%= @product.color %></p>

<%= form_with url: cart_index_path, method: :post do |form| %>
  <div>
    <%= form.label :size_id, "Available Sizes:" %>
    <%= form.collection_select :size_id, @sizes, :id, :available_size, id: "size" %>
  </div>

  <%= form.submit "Add to cart" %>
<% end %>