<nav class="navbar navbar-expand-lg">
  <%= link_to "Devine Apparel", root_path, class: "navbar-da" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <%= form_with url: "/search", method: :get, class: "nav-form" do |form| %>
      <%= form.select :category, ["All Categories", "Sneakers", "Hats", "Clothes"], class: "nav-dropdown" %>
      <%= form.text_field :q, class: "nav-input", placeholder: "Search for sneakers, clothes, hats" %>
      <%= form.button "Search", class: "nav-search-btn", name: nil %>
    <% end %>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Collections", products_path, class: "nav-link" %>
      </li>
    </ul>

  </div>
</nav>